absl-py==0.7.0
appnope==0.1.0
arabic-reshaper==2.0.15
asn1crypto==0.24.0
astor==0.7.1
astunparse==1.6.2
attrs==19.1.0
backcall==0.1.0
backports.lzma==0.0.13
bitstring==3.1.5
bleach==3.1.0
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
configobj==5.0.6
cryptography==2.7
cycler==0.10.0
Cython==0.29.13
decorator==4.4.0
defusedxml==0.5.0
entrypoints==0.3
esprima==4.0.1
et-xmlfile==1.0.1
freetype-py==2.1.0.post1
future==0.17.1
gast==0.2.2
gevent==1.4.0
gitdb2==2.0.5
GitPython==3.0.2
glfw==1.8.3
greenlet==0.4.15
grpcio==1.16.1
h5py==2.8.0
idna==2.8
imageio==2.5.0
imageio-ffmpeg==0.3.0
ipykernel==5.1.0
ipython==7.4.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jdcal==1.4.1
jedi==0.13.3
Jinja2==2.10
json-tricks==3.13.2
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.4
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
lxml==4.4.1
Markdown==3.0.1
MarkupSafe==1.1.1
matplotlib==3.0.3
mistune==0.8.4
mkl-fft==1.0.10
mkl-random==1.0.2
mock==3.0.5
moviepy==1.0.0
msgpack==0.6.1
msgpack-numpy==0.4.4.3
nbconvert==5.4.1
nbformat==4.4.0
notebook==5.7.6
numexpr==2.7.0
numpy==1.16.2
olefile==0.46
openpyxl==2.6.3
pandas==0.25.1
pandocfilters==1.4.2
parso==0.3.4
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==6.1.0
powerline-status===2.7.dev9999-git.b-5d82d544f3366a214732aeb8f781d50ced38ceef-
proglog==0.1.9
prometheus-client==0.6.0
prompt-toolkit==2.0.9
protobuf==3.6.1
psutil==5.6.3
-e git+https://github.com/zachandfox/psychopy.git@55b2a41a24ad5aaee702b3a32fb24789871b0205#egg=PsychoPy
psychopy-ext==0.6.0.4
ptyprocess==0.6.0
PyAudio==0.2.11
pycparser==2.19
pydot==1.4.1
pygame==1.9.6
pyglet==1.4.2
Pygments==2.3.1
pylsl==1.13.1
pyobjc-core==5.2
pyobjc-framework-Cocoa==5.2
pyobjc-framework-Quartz==5.2
pyOpenBCI==0.13
PyOpenGL==3.1.1a1
pyOpenSSL==19.0.0
pyosf==1.0.5
pyparallel==0.2.2
pyparsing==2.3.1
PyQt5==5.12.1
PyQt5-sip==4.19.15
pyqtgraph==0.11.0.dev0+g229f650
pyrsistent==0.14.11
pyserial==3.4
PySocks==1.7.0
PySoundCard==0.5.2
python-bidi==0.4.2
python-dateutil==2.8.0
python-gitlab==1.11.0
pytz==2018.9
pyxdf==1.15.3.dev5+gbf976ee
PyYAML==5.1.2
pyzmq==18.1.0
qtconsole==4.4.3
questplus==0.0.5
requests==2.22.0
scipy==1.2.1
seaborn==0.9.0
Send2Trash==1.5.0
six==1.12.0
smmap2==2.0.5
sounddevice==0.3.13
SoundFile==0.10.2
statsmodels==0.10.1
tables==3.5.2
tensorboard==1.12.2
tensorflow==1.12.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
tornado==6.0.2
tqdm==4.35.0
traitlets==4.3.2
urllib3==1.25.3
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.14.1
widgetsnbextension==3.4.2
wxPython==4.0.6
xarray==0.12.3
xlrd==1.2.0
xmltodict==0.12.0
zmq==0.0.0
